name: Deploy Node App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Copy project to deployment folder
        run: |
          rm -rf /var/www/myapp_release/*
          cp -r * /var/www/myapp_release/

      - name: Install Dependencies
        run: |
          cd /var/www/myapp_release
          npm install

      - name: Restart PM2
        run: |
          pm2 restart myapp || pm2 start app.js --name myapp
